# Arquivos binários compilados
*.o
*.exe
*.dll
*.AppImage

# Arquivos de build do Qt
*.Debug
*.Release
object_script.*
moc_*.cpp
moc_*.h
qrc_*.cpp
Makefile.*

# Arquivos de sistema
*.log
*.tmp

# IDE files
*.user
*.pro.user*